/* SignupForm.css */
.signup-form-container {
  max-width: 400px;
  margin: 50px 50px;
  border-radius: 20px;

}

.signup-form-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-container label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.signup-form-container input {
  width: 100%;
  padding: 10px;
  border: .5px solid #ccc;
  border-radius: 4px;
}

.signup-form-container p {
  color: #ff0000;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.button-sign-up {
  background-color: black;

}


.signup-form-container button[type="submit"] {
  background: linear-gradient(to bottom right, #c7225c, #ff0048);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}


/* SignupForm.css */

.signup-form-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
