.get-all-group-details-container {
  max-width: 1024px;
  display: flexbox;
  margin: 0 auto;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

}


/* .group-details {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;

}

.organizer-details {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
} */

.group-image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  margin-left: 20px

}


.groups-link {
  margin-left: 110px;

}
