/* Navigation.css */

.profile-dropdown {
  list-style-type: none;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

.form-button-nav {

  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;

}

.nav-drop-down-item {
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.s1-joinvibe-logo {
  border-radius: 50px;
  width: 10%;
  height: auto;
  margin-left: 10px;

}

.nav-container {
  border-bottom: grey 2px solid;
  margin-top: 15px;
  padding-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  ;
}

.nav-start-a-group {
  text-decoration: none;
  letter-spacing: -.025em;
  font-size: 1.2rem;
  font-weight: bold;
  width: 200px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  margin: 0;
}

.nav-item {
  display: flex;
}

.nav-item-right {
  margin-left: auto;
}

.navigation-link {
  color: #000;
  text-decoration: none;
  padding: 5px;
}


.navigation-link:hover {
  color: #007bff;
}

.nav-button {
  padding: 0px 12px;
  width: 70px;



}




.hidden {
  display: none;
}
