/* Navigation.css */

.profile-dropdown {
  list-style-type: none;

}

/* .nav-drop-down-item{
  list-style-type: none;
} */


.nav-container {
  border-bottom: #ddd 1px solid;
  margin-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: 0;
}

.nav-item {
  display: flex;
  margin-right: 20px;
}

.nav-item-right {
  margin-left: auto;
}

.navigation-link {
  color: #000;
  text-decoration: none;
  padding: 5px;
}


.navigation-link:hover {
  color: #007bff;
}

.nav-button {
  padding: 0px 12px;
}




.hidden {
  display: none;
}
