/* LoginForm.css */


.login-form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 3rem;
  /* border: 1px solid #ccc; */
  border-radius: 25px;

}

.login-form-title {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.login-form-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.labels {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold
}

.login-form-button {
  display: block;
  margin: 20px 5px;
  text-align: center;
  width: 100%;
  padding: 0.5rem;


  /* background-color: #007bff; */
  background: linear-gradient(to bottom right, #c7225c, #ff0048);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.login-form-button:hover {
  background-color: #0056b3;
}

.errors {
  color: red
}


.demo-login-button {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 150px;
}


.login-form-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: grey;
}
